/* reset */

* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.button {
    border-radius: 40px;
    text-decoration: none;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}





/* header fixato con logo */

header {
    background-color: rgb(209, 209, 209);
    width: 100%;
    height: 80px;
    line-height: 80px;
}

/* blocco di sinistra con logo */

.blocc-left {
    float: left;
    width: 45%;
    height: 80px;
}

.box-logo {
    float: left;
}

.logo {
    vertical-align: middle;
}

.nav-left {
    width: 90%;
    float: left;
    text-align: center;
    display: inline-block;
}

.nav-left li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.nav-left a {
    padding: 15px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

a:hover {
    border-bottom: 1px solid black;
}

/* blocco di destra con accedi */

.blocc-right {
    float: right;
    width: 45%;
    height: 80px;
}

.nav-right {
    width: 90%;
    float: right;
    text-align: center;
    display: inline-block;
}
.nav-right li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.nav-right a {
    padding: 15px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.box-inizia {
    float: right;
}







