/* reset */

* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-l {
    width: 80%;
    margin: 0 auto;
}

.container-s {
    width: 65%;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    scroll-behavior: smooth;
}



/* header fixato con logo */

header {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 80px;
    margin-top: 0;
    line-height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 1500px;
    z-index: 500;
}

/* blocco di sinistra con logo */

.blocc-left {
    float: left;
    width: 45%;
    height: 80px;
}

.box-logo {
    float: left;
    padding-left: 15px;
}

.logo {
    vertical-align: middle;
}

.nav-left {
    width: 80%;
    float: left;
    text-align: left;
    display: inline-block;
    padding-left: 15px;
}

.nav-left li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.nav-left a {
    padding: 15px;
    font-weight: 500 ;
    text-decoration: none;
    color: black;
}

a:hover {
    border-bottom: 1px solid black;
}

/* blocco di destra con accedi */

.blocc-right {
    float: right;
    width: 45%;
    height: 80px;
}

.nav-right {
    width: 80%;
    float: right;
    margin-right: 15px;
    text-align: right;
    display: inline-block;
}
.nav-right li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.nav-right a {
    padding: 15px;
    font-weight: 500;
    text-decoration: none;
    color: black;
}

.box-inizia {
    float: right;
    margin-right: 15px;
}

.button {
    background-color: #0061ff;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
}





/* hero con foto gigante */

.lightblue {
    background-color: #b4d0e7;
}

.hero h1 {
    padding-top: 100px;
    font-size: 90px;
}

.hero .left-col {
    width: 31%;
    margin-top: 50px;
    font-size: 1rem;
    float: left;
}

.hero .left-col button {
    margin: 30px 0px 10px;
}

.hero .left-col button + p {
    font-size: 0.8rem;
}

.hero .left-col i {
    font-size: 3rem;
    margin: 50px 0px;
}

.hero .right-col {
    width: calc( 69% - 80px );
    margin-top: 50px;
    margin-left: 80px;
    float: right;
}

.hero .right-col img {
    width: 1000px;
    position: relative;
    margin-top: -100px;
    bottom: -100px;
}

.btn {
    line-height: 200%;
    vertical-align: 2px;
    cursor: pointer;
}

.blue-btn {
    background-color: #0061ff;
    border: none;
    color: white;
}

.main-btn {
    padding: 2px 25px;
    font-size: 1rem;
}

.arrow-down {
    color: black;
}





/* sezione con piani di abbonamento */



/* due bottoni scelta fatturazione */

.piani .container-s:first-child {
    padding-top: 250px;
}

.due-fatture h2 {
    font-size: 50px;
}

.piani .radio-buttons {
    margin: 50px 0px 50px;
}

.piani .radio-label {
    cursor: pointer;
}

.radio-label p {
    display: inline-block;
    width: 200px;
}

.piani input[type=radio] {
    appearance: none;
    width: 25px;
    height: 25px;
    border: 1px solid gray;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    vertical-align: middle;
}

.piani input[type=radio]:checked {
    background-color: #0061ff;
    border: 1px solid #0061ff;
}

.piani input[type=radio]:checked::before {
    content: "\2299";
    position: absolute;
    margin-left: 5.5px;
    margin-top: 2px;
    color: white;
}



/* colonne diversi piani */

.piani .col {
    border: 2px solid #e0e0e0;
}

.col-1of3 {
    width: calc(100% / 3 - 150px / 3);
    height: 1150px;
    float: left;
}

.col-mid {
    margin: 0px 75px;
}

.col-1of1 {
    width: 100%;
    display: inline-block;
    margin-top: 50px;
}



.plan-type {
    padding: 15px;
    text-align: center;
    border-bottom: 2px solid #e0e0e0;
}

.plan-type .icon {
    float: left;
}

.plan-type .icon {
    vertical-align: middle;
}

.plan-type p {
    display: inline-block;
}



.plan-content {
    padding: 30px;
}

.plan-content h4 {
    padding: 15px 0px 5px;
}

.plan-content .subscription-recurrence {
    margin-top: 0px;
    padding-bottom: 30px;
    font-size: 0.8rem;
    display: block;
    color: gray;
}

.feature {
    width: 100%;
    margin: 25px 0px;
}

.feature .icon {
    width: 8%;
    font-size: 0.8rem;
    vertical-align: middle;
}

.feature .text {
    width: 92%;
}

.feature .icon, .feature .text{
    float: left;
}

.plan-content p {
    font-size: 0.8rem;
}



/* bottone prova gratis */
.col-1of3 .plan-content button {
    width: 100%;
    margin: 30px 0px;
}

.col-btn {
    font-size: 0.8rem;
}

.link {
    color: #0061ff;
    text-decoration: underline;
    cursor: pointer;
}

.link:hover {
    color: #3984ff;
}

.link:active {
    color: #0055df;
}

.plan-content hr {
    width: 20%;
    border: 1px solid #e0e0e0;
    margin: 30px 0px;
}



.feature .fa-check {
    color: #0061ff;
    font-size: 1rem;
    vertical-align: middle;
}

.feature li {
    font-size: 0.85rem;
    list-style-type: none;
}



/* base sotto le colonne */

.col-1of1 .plan-content p {
    font-size: 0.9rem;
    padding-top: 30px;
}

.col-1of1 .plan-content {
    padding-bottom: 0px;
}

.col-1of1 button {
    position: relative;
    width: 320px;
    top: -130px ;
    right: -860px ;
}





/* sezione trova partners */

.partners .col-left {
    width: 55%;
    float: left;
}

.partners .container-s {
    padding: 200px 0px 100px;
}

.partners .col-left img {
    width: 95%;
}

.partners .col-right {
    width: 45%;
    float: left;
    padding: 40px 0px 0px 40px;
}

.partners .col-right p {
    padding: 30px 0px;
    line-height: 35px;
}

.white-btn{
    border: 1px solid black;
    background-color: white;
}

.white-btn:hover{
    background-color: #f1f1f1;;
}

.white-btn:active{
    background-color: #e9e9e9;
}


