/* reset */

* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    scroll-behavior: smooth;
}



/* header fixato con logo */

header {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 80px;
    margin-top: 0;
    line-height: 80px;
    position: fixed;
}

/* blocco di sinistra con logo */

.blocc-left {
    float: left;
    width: 45%;
    height: 80px;
}

.box-logo {
    float: left;
    padding-left: 15px;
}

.logo {
    vertical-align: middle;
}

.nav-left {
    width: 80%;
    float: left;
    text-align: left;
    display: inline-block;
    padding-left: 15px;
}

.nav-left li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.nav-left a {
    padding: 15px;
    font-weight: 500 ;
    text-decoration: none;
    color: black;
}

a:hover {
    border-bottom: 1px solid black;
}

/* blocco di destra con accedi */

.blocc-right {
    float: right;
    width: 45%;
    height: 80px;
}

.nav-right {
    width: 80%;
    float: right;
    margin-right: 15px;
    text-align: right;
    display: inline-block;
}
.nav-right li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.nav-right a {
    padding: 15px;
    font-weight: 500;
    text-decoration: none;
    color: black;
}

.box-inizia {
    float: right;
    margin-right: 15px;
}

.button {
    background-color: #0061ff;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
}





/* hero con foto gigante */

.lightblue{
    background-color: #b4d0e7;
}

.hero h1{
    padding-top: 100px;
    font-size: 90px;
}

.hero .left-col{
    width: 31%;
    margin-top: 50px;
    font-size: 1rem;
    float: left;
}

.hero .left-col button{
    margin: 30px 0px 10px;
}

.hero .left-col button + p {
    font-size: 0.8rem;
}

.hero .left-col i{
    font-size: 3rem;
    margin: 50px 0px;
}

.hero .right-col{
    width: calc( 69% - 80px );
    margin-top: 50px;
    margin-left: 80px;
    float: right;
}

.hero .right-col img{
    width: 1000px;
    position: relative;
    margin-top: -100px;
    bottom: -100px;
}

.btn{
    line-height: 200%;
    vertical-align: 2px;
    cursor: pointer;
}

.blue-btn{
    background-color: #0061ff;
    border: none;
    color: white;
}

.main-btn{
    padding: 2px 25px;
    font-size: 1rem;
}

.arrow-down {
    color: black;
    text-decoration: none;
    font-size: 50px;
    font-weight: 800;
}








